body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
   background-color: rgb(38 40 56);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgb(44 47 84);
    height: 100%;
   
    border-radius: 55px;
}

.input-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    width: 800px;
    align-items: center;
    justify-content: center;
    gap: 20px;
    align-content: center;
    margin: 0;
    margin-left: 185px;
    margin-bottom: 50px;
}

#cityInput{
    font-size: 20px;
    width: 700px;
    height: 35px;
    background-color: rgb(44 47 84);
    color: white;
    /* border-style: none; */
    border: 0.5px solid #585884;
    border-radius: 55px;
    text-indent: 10px;
}
.head-title{
    color: white;
    font-weight: 800;
    text-align: center;
    font-size: 40px;
}
.input-container button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #6c5e96;
    color: #fff;
    border: none;
    cursor: pointer;
    width: 110px;
    border-radius: 55px;
    transition: all 0.3s ease;
}
#addButton:hover{
    scale: 1.03;
}
#weatherCards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding: 0px 15px 0px 70px;
}
#cards{
    
    display: flex;
    height: 175px;
    width: 315px;
    background-image: url(imges/Rectangle\ 1.png);
    color: white;
    transition: all 0.3s ease;
    cursor: pointer;
    margin: 0px 0px 35px;
}
#cards:hover{
    scale: 1.03;
}
#details{
    width: 140px;
    top: 60px;
    position: relative;
    height: 130px;
    margin-left: 10px;
}
#weather-type{
    text-align: end;
    margin: 0;
    /* text-indent: 0px; */
    margin-right: 40px;
}
#wind{
    font-size: 15px;
    color: #a8a8a8;
}
#temp{
    font-size: 35px;
    margin: 0;
}
#weather-img{
    width: 140px;
    height: 140px;
}
#bg-color{
    position: absolute;
    color: blue;
    height: 190px;
    width: 300px;
    background-color: bisque;
}