body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(38,41,75);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    
}

.input-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    width: 800px;
    align-items: center;
    justify-content: center;
    gap: 20px;
    align-content: center;
    margin: 0;
    margin-left: 185px;
    margin-bottom: 50px;
}

#cityInput{
    font-size: 20px;
    width: 700px;
    height: 35px;
}
.head-title{
    color: white;
    font-weight: 800;
    text-align: center;
}
.input-container button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4A397F;
    color: #fff;
    border: none;
    cursor: pointer;
}
#weatherCards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
#cards{
    
    display: flex;
    height: 175px;
    width: 300px;
    background-image: url(imges/Rectangle\ 1.png);
    color: white;
}
#details{
    width: 140px;
    top: 60px;
    position: relative;
    height: 130px;
    margin-left: 10px;
}
#weather-type{
    text-align: end;
    margin: 0;
    /* text-indent: 0px; */
    margin-right: 40px;
}
#wind{
    font-size: 15px;
    color: #a8a8a8;
}
#temp{
    font-size: 35px;
    margin: 0;
}
#weather-img{
    width: 140px;
    height: 140px;
}
#bg-color{
    position: absolute;
    color: blue;
    height: 190px;
    width: 300px;
    background-color: bisque;
}